* {
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 50px;
  width: 50%;
  height: 100vh;
  background-color: #cdffcd;
}

.profilo {
  height: 150px;
  width: 150px;
  mix-blend-mode: multiply;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  color: #344e41;
  background-color: #588157;
  font-family: "Montserrat";
}

h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

span {
  font-weight: 90;
  text-decoration: underline;
}

th {
  border-bottom: 2px solid;
  min-width: 150px;
}
td {
  text-align: center;
}
a {
  font-size: 50px;
  text-decoration: none;
}
a:hover {
  color: red;
}
ul {
  display: inline-block;
  list-style: square;
  text-align: left;
}
ol {
  display: inline-block;
  text-align: left;
}
