/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: none;
}

.container:hover {
  .overlay {display: flex;}
}